
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* Base */
:root {
    --primary-color: #31261A;
    --primary-color-second: #FAF4EA;
    --secondary-color-dark: #A18268;
    --secondary-color-light: #CFCFBC;
    --color-of-brand: #819B57;
    --color-of-brand-second: #465929;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins',sans-serif;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--primary-color-second);
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address {
    font-style: normal;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section {
    padding: 48px 0;
}
.section-titles {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}
.section-titles.centered {
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Header */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 32px;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}
.header-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

/* Nav */
.nav-bar-anchors a {
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: var(--primary-color-second);
    font-weight: 400;
    font-size: 18px;
    transition: color .2s;
}
.nav-bar-anchors:hover a {
    list-style-type: none;
    color: var(--color-of-brand);
    cursor: pointer;
    font-size: 18px;
}

/* Buttons */
.button {
    padding: 16px 32px;
    background-color: var(--color-of-brand);
    color: var(--primary-color-second);
    border: solid var(--color-of-brand);
    border-radius: 8px;
    flex-basis: 238px;
    height: 59px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.button:hover {
    color: var(--color-of-brand-second);
    background-color: transparent;
    border-color: var(--color-of-brand-second);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}


/* Hero section */
.hero-section{
    position: relative;
    top: 0;
    left: 0;
    padding: 272px 0;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url('../images/background-image-hero-section.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.hero-title {
    text-align: center;
    color: var(--primary-color-second);
    font-size: 128px;
    font-weight: 900;
}

/* Section-advantages */
.section-advantages{
    background-color: var(--color-of-brand);
    padding: 16px 0;
    margin-top: 0;
    
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color-second);
    padding-top: 0;
    gap: 40px;
}   


/* Traditions section */
.tradisions-section {
    padding-top: 96px ;
}
.tradisitions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.tradisitions-container-content {
    max-width: 710px;
}
.tradisions-section-title {
    margin: 0 1px 42px 0;
}

.tradisions-text {
    margin: 0 0 42px 0;
}
.tradisions-text.limited {
    max-width: 340px;
}
.accent.lower-case {
    text-transform: lowercase;
}
.tradisions-text:first-child {
    max-width: 360px;
}

.tradisions-text span {
    text-transform: uppercase;
}

.img {

    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

/* Chefs section */

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--primary-color-second), -16px 16px 0 1px  var(--secondary-color-dark);
} 
.chefs-section-title {
    position: relative;
    margin: 96px auto 80px;
    
}
.chefs-section-title::before ,
.chefs-section-title::after {
    position: absolute;
    bottom: 24px;
    width: 352px;
    border: 2px solid var(--secondary-color-light);
    content: '';
}
.chefs-section-title::before {
    left: 0;
}
.chefs-section-title::after {
    right: 0;
}
.section-title-chef {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 16px 0;
}


.chefs-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 30px;
}
.chef-item {
    flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
    display: flex;
    gap: 30px;
    
}
.chef-card-content {
    max-width: 334px;
}
.chef-text p {
    margin-bottom: 30px;
}
.chef-text p:last-child {
    margin-bottom: 0;
}

/* Formats section */
.formats-list{
    display: flex;
    gap: 20px;
    align-content: space-around;
    height: 445px;
}
.format-item {
    flex-basis: calc((100% - 40px) /3);
    height: 100% ;
    transition: transform .2s linear;
}
.format-item:hover {
    transform: scale(1.05);
}
.format-card {
    height: 100%;
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
}
.format-card-title {
    font-weight: 600;
    font-size: 24px;
}
.formats-section-cards-text {
    font-weight: 300;
    font-size: 14px;
}
/* Carousel */
.formats-carousel {
    display: flex;
    align-items: center;
    gap: 32px;
    
}
.carousel-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    padding: 0;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    fill: var(--primary-color);
    flex-shrink: 0;

}
.carousel-button.next {
    transform: rotate(0.5turn);
}
.carousel-button:hover{
    background-color: var(--primary-color) ;
    fill: var(--primary-color-second);
}

/* Contact section */
.contact-section{
    padding-bottom: 96px;
}
.contact-form {
    flex-basis: 605px;
    flex-shrink: 0;
}
.contact-title {
    font-weight: 900;
    font-size: 63px;
    line-height: 1.3;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}

.contact-map {  
    flex-shrink: 0;    
    border-radius: 16px;
    border: none;
}


/* Footer */
.footer {
    position: relative;
    background-color: var(--primary-color);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}
.footer::before, 
.footer::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    bottom: 0;
}
.footer::before {
    background-image: url('../images/footer-bread-small.png');
    width: 180px;
    height: 120px; 
    left: 0;
}
.footer::after {
    background-image: url('../images/footer-bread-large.png');
    width: 380px;
    height: 187px;
    right: 0;
}

.footer-container {
    display: flex;
    flex-grow: 50%;
    justify-content: space-between;
    gap: 20px;
}
.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer-nav a, ul, .footer-logo {
    flex-grow: 1;
}
.footer-address ul, .address-info {
    flex-grow: 1;
}



/* Address */
.address-link {
    transition: fill .2s;
}
.address-link a {
    color: var(--primary-color-second);
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    transition: color .2s;
}
.address-link:hover a{  
    color: var(--color-of-brand);
    cursor: pointer;
}
.address-icons {
    fill: var(--primary-color-second);
    transition: fill .2s;
}
.address-icons:hover {
    fill: var(--color-of-brand);
}
/* Accent colors */
.accent {
    color: var(--color-of-brand-second);
}
/* Copy-right sign */
footer .accent:last-child {
    color: #A18268;
    font-weight: 400;
    font-size: 14px;
}

/* Modal */
.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0 , 0.5);
    transition: opacity .3s, visibility .3s;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: relative;
    max-width: 880px;
    max-height: 880px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-second);
    border-radius: 32px;
}
.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}











