
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root{
    --primary-color: #31261A;
    --primary-color-second: #FAF4EA;
    --secondary-color-dark: #A18268;
    --secondary-color-light: #CFCFBC;
    --color-of-brand: #819B57 ;
    --color-of-brand-second: #465929;
}   

/* Base */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins',sans-serif;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--primary-color-second);
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}
address {
    font-style: normal;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section {
    padding: 48px 0;
}
.section-titles {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}
.section-titles.centered {
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    
}
.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}
.header-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

/* Nav */
.nav-bar-anchors a {
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: var(--primary-color-second);
    font-weight: 400;
    font-size: 18px;
}
.nav-bar-anchors:hover a {
    list-style-type: none;
    color: var(--color-of-brand);
    cursor: pointer;
    font-size: 18px;
}

/* Buttons */
.button {
    padding: 16px 32px;
    background-color: var(--color-of-brand);
    color: var(--primary-color-second);
    border: solid var(--color-of-brand);
    border-radius: 8px;
    flex-basis: 238px;
    height: 59px;
    cursor: pointer;
    font-weight: 600;
}
.button:hover {
    color: var(--color-of-brand-second);
    background-color: transparent;
    border-color: var(--color-of-brand-second);
    cursor: pointer;
    font-weight: 600;
}


/* Hero section */
.hero-section{
    padding: 272px 0;
    background-image: url('../images/background-image-hero-section.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
}
.hero-title {
    text-align: center;
    color: var(--primary-color-second);
    font-size: 128px;
    font-weight: 900;
}

/* section-advantages */

.section-advantages{
    background-color: var(--color-of-brand);
    padding: 16px 0;
    margin-top: 0;
    
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color-second);
    padding-top: 0;
    gap: 40px;
}   


/* Traditions section */
.tradisions-section {
    padding-top: 96px ;
}
.tradisitions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.tradisitions-container-content {
    max-width: 710px;
}
.tradisions-section-title {
    margin: 0 1px 42px 0;
}

.tradisions-text {
    margin: 0 0 42px 0;
}
.tradisions-text.limited {
    max-width: 340px;
}
.accent.lower-case {
    text-transform: lowercase;
}
.tradisions-text:first-child {
    max-width: 360px;
}

.tradisions-text span {
    text-transform: uppercase;
}

.img {

    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

/* Chefs section */

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--primary-color-second), -16px 16px 0 1px  var(--secondary-color-dark);
} 
.chefs-section-title {
    margin: 96px auto 80px;
    max-width: 520px;
}

.section-title-chef {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 16px 0;
}
.chefs-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chefs-list-item {
    display: flex;
    justify-content: space-evenly;
    
}
.chef-list-item-text {
    
    max-width: 334px;
}
.chefs-list-item {
    display: flex;
    gap: 30px;
}


/* Formats section */
.formats-list{
    display: flex;
    gap: 20px;
    align-content: space-around;
    height: 445px;
}
.format-item {
    flex-basis: calc((100% - 40px) /3);
    height: 100% ;
}
.format-card {
    height: 100%;
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
    
    
}

.format-card-title {
    font-weight: 600;
    font-size: 24px;
    
}
.formats-section-cards-text {
    
    font-weight: 300;
    font-size: 14px;
}
/* Carousel */
.carousel-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    padding: 0;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    fill: var(--primary-color);
}

.carousel-button:hover{
    background-color: var(--primary-color) ;
    fill: var(--primary-color-second);
}



/* Footer */
.footer {
    background-color: var(--primary-color);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.address-link a {
    color: var(--primary-color-second);
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    
}
.address-link:hover a{  
    color: var(--color-of-brand);
    cursor: pointer;
}
.address-icons {
    fill: var(--primary-color-second);
}
.address-icons:hover {
    fill: var(--color-of-brand);
}
/* Accent colors */
.accent {
    color: var(--color-of-brand-second);
}
/* Copy-right sign */
footer .accent:last-child {
    color: #A18268;
    font-weight: 400;
    font-size: 14px;
}










/* .general-information{
    background-image: main-section-background;
}    Attempt to set the background foto with CSS (NOT working)  */





